.App {
  height: 800px;
  border: 10px solid darkblue;
  margin: 100px;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-image {

  right:  150px;
  height: 300px;
}

.header {
  background-color: #222;
  color: white;

  width: 100px;
  left: 0px;
}

.App-title {
  font-size: 1.5em;
  padding: 10px;
}

.App-intro {
  font-size: large;
}
.footer {

}
a {
  color: white;
}
.parent-kwadrat {
  border: 20px solid silver;
  width: 1300px;
  height: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
}

.kwadraty {
  float: right;
  width: 200px;
}
.span1 {
  color: white;
  background: black;
  border: 50px dashed aqua;
  font-size: 30px;
  padding: 10px;
  }
.span2 {
  color: white;
  background: black;
  border: 50px dashed aqua;
  padding: 10px;
  font-size: 40px;
}
.span3 {
  color: white;
  background: black;
  border: 50px dashed aqua;
  padding: 10px;
  font-size: 80px;
}
.paragraph1 {
  background: darkmagenta;
  border: 50px dashed rebeccapurple;
  padding: 30px;
  text-align: justify;
  font-size: 50px;
  font-weight: bold;
}
.cos-tam {
  width: 100px;
  height: 50px;
  padding: 20px;
  background: royalblue;
  border: 60px double yellowgreen;
  text-align: justify;
  color: blanchedalmond;
  font-weight: bolder;
  font-size: 200%;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.tic-tac-toy {
  width: 600px;
  height: 600px;
  margin: 100px auto;
}
table, tr, td {
  border: 1px solid #ddd;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  margin: 10px;
}

td, tr {
  padding: 15px;
  position: relative;
}
td {
  width: 160px;
  height: 160px;
}
img {
  position: center;
  max-width: 100%;
  max-height: 100%;

}
